/* Reset styling */
* {
    margin: 0;
    padding: 0;
}
/* Color variables */
:root {
    --orange: chocolate;
    --maroon: maroon;
    --dull-maroon: rgba(114, 16, 16, 0.751);
    --dull-black: rgba(0, 0, 0, 0.748);
}
/* Cool pressing-down effect on every button on the page */
button {
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px;
    color: var(--orange);
    cursor: pointer;
}
button:active {
    box-shadow: none;
}
/* ---------------------------------- LANDING PAGE ---------------------------------- */
/* Styling the header horizontally */
header {
    margin: 40px;
}
header nav{
    display: flex;
    justify-content: space-between;
}
/* "View high scores" page direction with styling*/
header nav a {
    color:var(--orange);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;

}
header nav a:hover {
    font-weight: bolder;
    font-size: larger;

}
/* Ensures all content within the .quiz-container will remain centered */
#quiz-container {
    display: flex;
    justify-content: center;
    margin: 70px;
}
/* Ensures all content within #landing-page is centered and flows vertically */
#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}
/* Change h1 styling */
#landing-page h1 {
    font-size: 45px;
    color: var(--maroon);
}
/* Gives some top and bottom padding to h2 */
#landing-page h2 {
    padding: 10px 0;
    color: var(--dull-maroon);
}
/* The h3 element will remain with the max-width of its parent container */
#landing-page h3 {
    width: fit-content;
    padding: 30px 0;
    font-weight: 600;
    font-size: larger;
    color: var(--dull-black);
}

/* ---------------------------------- QUIZ PAGE ---------------------------------- */
#quiz-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
}
.choice-container {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.choice-container .choice-btn {
    padding: 20px 10px;
    margin: 10px;
}

/* ---------------------------------- POST QUIZ PAGE ---------------------------------- */
#post-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
}
.initials-container {
    display: flex;
    margin: 20px auto;
}
.initials-container label {
    margin-right: 5px;
}
#input-submit {
    padding: 10px 20px;
}

/* ---------------------------------- HIGH SCORES PAGE ---------------------------------- */
#high-scores-pg {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
}
.score-text {
    font-size: 25px;
    margin: 15px;
    padding: 5px;
    background-color: antiquewhite;
}
.btn-container {
    margin: auto;
    align-items: center;
}